@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    body{
        @apply bg-gradient-to-r from-gradient-100 to-gradient-200;
    }
}

@font-face {
    font-family: Poppin;
    src: url("./assets//fonts/Poppins-reg.ttf");
}

body{
    width: 100%;
    height: 100vh;
    font-family: Poppin;
    overflow: hidden;
    /* background-image: linear-gradient(#f9dbd9,#e0c4f5); */
}